.light-mode {
  --scale-1: #fcfcfc;
  --scale-2: #f8f8f8;
  --scale-3: #f3f3f3;
  --scale-4: #ededed;
  --scale-5: #e8e8e8;
  --scale-6: #e2e2e2;
  --scale-7: #dbdbdb;
  --scale-8: #c7c7c7;
  --scale-9: #8f8f8f;
  --scale-10: #858585;
  --scale-11: #6f6f6f;
  --scale-12: #171717;
  --button-text-active: var(--scale-1);
  --red: rgb(228, 76, 57);
  --yellow: rgb(255, 235, 107);
  --pink: rgb(242, 135, 255);
  --green: #b9ffde;
  --blue: #74d4ff;
  --blob-yellow: rgb(255 242 158 / 25%);
  --blob-red: rgb(255 176 166 / 40%);
}
.dark-mode {
  --scale-1: #343434;
  --scale-2: #1c1c1c;
  --scale-3: #232323;
  --scale-4: #282828;
  --scale-5: #2e2e2e;
  --scale-6: #343434;
  --scale-7: #3e3e3e;
  --scale-8: #505050;
  --scale-9: #707070;
  --scale-10: #7e7e7e;
  --scale-11: #a0a0a0;
  --scale-12: #ededed;
  --button-text-active: var(--scale-12);
  --red: rgb(255, 99, 71);
  --yellow: rgb(255, 255, 102);
  --pink: rgb(255, 182, 193);
  --green: #90ee90;
  --blue: #87cefa;
  --blob-yellow: rgb(255 242 158 / 25%);
  --blob-red: rgb(255 176 166 / 40%);
}
