.page.no-scroll {
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__left {
    gap: 40px;
  }

  &__right {
    gap: 20px;
  }

  &__toggle {
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001;

    .bar {
      width: 25px;
      height: 3px;
      background-color: var(--scale-12);
      margin: 3px 0;
      transition: transform 0.3s, opacity 0.3s;
    }

    &.cross {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 1001;

      .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
      }

      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }

  &__mobile {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    background-color: var(--scale-2);
    width: 100%;
    max-height: 100vh;
    height: 100%;
    padding: 60px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);

    .link--icon {
      display: block;
    }

    &--pages {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      gap: 40px;
    }
    &--links {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.open {
    .navbar__mobile {
      display: flex;
      transform: translateX(0);
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-end;

    &__left,
    &__right {
      display: none;
    }

    &__toggle {
      display: flex;
    }
  }
  @media (max-width: 480px) {
    &__left {
      display: none;
    }
  }
}
