.page{
  padding: 60px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.page > .menu-open {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
    overflow: hidden;
}

.homepage {
  display: flex;
  flex-direction: column;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
}



@media (max-width: 768px) {
  .page{
    padding: 40px;
  }
}

@media (max-width: 480px) {
  .page{
    padding: 20px;
  }
}